
/* Make the image cover the full container while maintaining aspect ratio */


.abc {
  height: 1000px;
  background-color: red;
  font-size: 36px
}


.card_section {
  display: flex;
  justify-content: center;
  /* Center the cards */
  gap: 20px;
  margin: 2% 10%;
  flex-wrap: wrap;
}

.product-catalog {
  margin-top: 10%;
  background-color: #f5f7f9;
  padding: 2%;
}

.catalog-heading {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.catalog-cards {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.banner{
  /* background-color: #0084D6; */
  margin: 10% 10%;
}

.features {
  display: flex;
  margin: 10% 10%;
  gap: 15px;
}

.section{
  display: flex;
  justify-content: space-between;
}

.first-half{

}

.second-half{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px
}

.product-name, .price{
  margin: 2% !important;
}
.add-to-cart{
  margin-top: 30px !important;
}

